.features-cart {
    width: 100%;
}

@media only screen and (min-width: 768px)  {
  .features-cart {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px)  {
  .features-cart {
    width: calc((100% - 24px * 3) / 4);
  }
}
.features-list{
    display: flex;
    justify-content: center;
    gap: 72px;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    
  }
}
.features-title{
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 36px;

    line-height: 1.11111;

}
.features-cart-text{
    font-weight: 500;
}
@media only screen and (max-width: 767.98px) {
  .features-title {
    text-align: center;    
  }
  .features-cart-text{
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
  .features-cart-text{
    font-weight: 400;

  }
}


.features-cart svg{
    
    
}
.decoration{
    width: 264px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
@media only screen and (max-width: 1157.98px) {
  .decoration {
    display: none;
    
  }
}