.footer .logo {
    color: #F4F4FD;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text {
    color: #F4F4FD;
    width: 264px;
}

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
    }
@media only screen and (min-width: 1158px) {
  .footer
   {
    padding: 100px 0;
  }
}
.sm-text {
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 16px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
  .sm-text {
    text-align: start;
  }
}
.footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px 108px;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer .container {
    padding: 0px 15px;
    gap: 0;
  }
}
.footer .icon-link:hover,
.footer .icon-link:focus {
    background-color: #31D0AA;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-left {
    align-items: flex-start;
  }
}
.footer .icon-link {
    border-radius: 20px;
}

.footer .social-icons {
    gap: 16px;
}

.footer .icon-link svg use {
    fill: #f4f4fd;
}

.footer-social {
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .footer-social {
    margin: 0;
    
  }
}
@media only screen and (min-width: 1158px) {
  .footer-social {
    margin-left: 120px;
    margin-right: auto;
  }
}
.footer-social .social-icons{
    display: flex;
}
.footer-form {
    display: flex;
    align-items: center;
    gap: 16px 24px;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.footer-form-feild {
    padding: 8px 16px;
    width: 288px;
    height: 40px;

    color: #fff;
    background-color: transparent;

    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
    font-weight: 400;
    font-size: 12px;
    
    line-height: 1.16667;
        letter-spacing: 0.04em;
}
@media only screen and (min-width: 768px) {
  .footer-form-feild {
    width: 264px;
  }
}

.footer-form-feild::placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;

    line-height: 1.16667;
    letter-spacing: 0.04em;
}

.footer-form-feild:hover,
.footer-form-feild:focus {
    border-color: #31D0AA;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;

    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    max-width: 165px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    background-color: #4D5AE5;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #31D0AA;
}
