.hero {
    background-color: #2E2F42;
    color: #FFFFFF;
    padding: 72px 0px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
        
    

    background-image:
    linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
    image-set(
      url("../images/hero-bg-mob.jpg") 1x,
      url("../images/hero-bg-mob@2x.jpg") 2x
    );
}
@media only screen and (min-width: 768px) {
  .hero 
   {
    padding: 112px 0px;
    background-image:
    linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
    image-set(
      url("../images/hero-bg-tab.jpg") 1x,
      url("../images/hero-bg-tab@2x.jpg") 2x
    );
  }
}
@media only screen and (min-width: 1158px) {
  .hero 
   {
    padding: 188px 0px;
    background-image:
    linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
    image-set(
      url("../images/hero-bg-desk.jpg") 1x,
      url("../images/hero-bg-desk@2x.jpg") 2x
    );
  }
}

.hero-title {
    width: 216px;
    
    
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11111;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-button {
    padding: 16px 32px;
    border-radius: 4px;
    border: none;   
    transition-property: box-shadow;
    background-color: #4D5AE5;
    
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        
}
.hero .container {
    text-align: center;
}