.portfolio-list{
    display: flex;
    flex-direction: column;
    
    row-gap: 48px;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  } 
}.portfolio-title{
    margin-bottom: 72px;
}
.portfolio-text-wrapper{
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}
.portfolio-cart-title{
    margin-bottom: 8px;
}
.portfolio-cart{
    background-color: #ffffff;
    position: relative;   
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .portfolio-cart {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-cart {
    width: calc((100% - 24px * 2) / 3);
  }
}
.portfolio-cart:hover,
.portfolio-cart:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.overlay{
    display: flex;
    align-items: flex-start;
    padding: 40px 32px;
    background: #4D5AE5;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cart:hover .overlay {
    transform: translateY(0);
}
.card-thumb {
    position: relative;
    overflow: hidden;
}

